.fondDameDeDos{
    width: 100%;
    position: relative;
}

.imgDameDos{
    width: 100%;
}


li{
    list-style: none;
}

li a{
    text-decoration: none;
}



.navBarDroite{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    bottom: 53rem;
}

.navBarGauche{
    position: relative;
    bottom: 46rem;
    right: 1rem;
    
}

.liGauche{
    font-size: 5rem;
    color: white;
    
}

.liDroite{
    font-size: 1.5rem;
    margin: 25px;
    color: white;
}

.pAccueil{
    font-size: 2rem;
    position: relative;
    bottom: 49rem;
    color: white;
    left: 3rem;
}

.tailleH1{
    width: 30%;
}

#h1Accueil{
    font-size: 7rem;
    position: relative;
    bottom: 50rem;
    color: white;
    left: 2.75rem;
}

.buttonProject{
    width: 10rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid white 3px;
    color: white;
    position: relative;
    bottom: 48rem;
    left: 5rem;
    text-align: center;
    transform: rotate3d(50% -50%);
    transform: matrix3d(50% -50%);
}
.logoRéseauxHeader{
    width: 2.5rem;
    position: relative;
    right: 3rem;
    padding-left: 15px;
}

.logoAccueil{
    display: flex;
    flex-direction: row;
   justify-content: flex-start;
    color: red;
    position: relative;
    top: 2.5rem;
   
}

/* CARD */

.cardDiv{
    position: relative;
    bottom: 25rem;
}

.fab fa-facebook-f{
    background-color: blueviolet;
}


.taille{
    font-size: 10rem;
    border: solid black 3px;
    margin: 3px;
    padding: 10px 10px 10px 10px;
}

/* ABOUT ME */

.fondGrisAboutMe{
    
    width: 100%;
    position: relative;
    
    
}

.buttonReadMore{
    width: 10rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid orange 3px;
    color: black;
    text-align: center;
    padding-top: 0.5rem;
}

.DivImgAbouUs{
    position: absolute;
    left: 15rem;
    top: 1rem;
    width: 50%;
}

.divAboutUs{
    position: absolute;
    left: 65rem;
    
    width: 80%;
    font-size: 1rem;
    
}

.imgAboutUsBulding{
    width: 80%;
}

.h2AboutUs{
    font-size: 4rem;
    width: 40%;
}

.textAboutUs{
   
    width: 30%;
}

.aboutUsP{
    color: brown;
}

/* RECENT WORK */

.ulRecentWork{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.divRecentWork{
    position: relative;
    top: 40rem;
}

.liRecentWork{
    margin: 15px
}

.h6RecentWork{
    text-align: center;
    color: orange;
}

.h2ViewOurProjet{
    text-align: center;
    font-weight: bold;
}

.containerDivWork{
    position: relative;
    top: 50rem;
}

.colsm1Ny{
    bottom: 10rem;
}

.fondBlanc1{
    width: 100%;
    height: 9%;
    background-color: white;
    position: absolute;
    top: 0rem;  
}

.textFondBlanc1{
    position: relative;
    top: 4rem;
    left: 5rem;
}

.col11EednPArk{
    left: 25rem;
    bottom: 60rem;
}

.fondBlanc2{
    width: 80rem;
    height: 30rem;
    background-color: white;
    position: relative;
    top: 10rem;
    left: 25rem;
   
}

.textFondBlanc2{
    position: relative;
    top: 23.5rem;
    left: 0rem;
    color: black;
    left: 2rem;
}

.colsmParis3{
    position: relative;
    bottom: 65rem;
    right: 1rem;
}

.fondBlanc3{
    width: 20rem;
    height: 8rem;
    background-color: white;
    position: relative;
    left: 23rem;
    top: 7rem;
}

.textFondBlanc3{
    position: relative;
    top: 3rem;
    left: 3rem;
}

.colSmNy4{
    position: absolute;
    bottom: 72rem;
    right: 7rem;
}

.fondBlanc4{
    width: 27rem;
    height: 19.5rem;
    background-color: white;
    position: relative;
    top: 12rem;
    
}

.textFondBlanc4{
    position: relative;
    top: 4.95rem;
}

.p4Ny{
    position: relative;
    top: 2.5rem;
    width: 15rem;
}

/* vidéo NY */

.vidéoNewYork{
    width: 100%;
}

.imgVidéoNy{
    width: 100%;
}

.h2Vidéo{
    color: white;
    position: relative;
    bottom: 25rem;
    left: 34rem;
}

.fontH2{
    font-size: 4rem;
}

.logoPlay{
    font-size: 10rem;
    position: relative;
    bottom: 27rem;
    left: 42rem;
    color: white;
    
}

.timerVidéo{
    color: white;
    position: relative;
    bottom: 29rem;
    left: 44.5rem;
    font-size: 2rem;
}

/* Happy Clients */

.fondGrisHappy{
    background-color: rgba(236, 226, 226, 0.782);
    width: 100%;
    height: 45rem;
    position: relative;
    bottom: 15rem;
}

.textHappyTop{
    text-align: center;
    position: relative;

}

.HappyClientsCont{
    width: 100%;
    position: relative;
    top: 5rem;
    left: 5rem;
}

.dimensionRow{
    width: 90rem;
    position: relative;
    right: 15rem;
}

.fondBlancCEO1{
    background-color: white;
    width: 0rem;
}


.fondBlancCEO2{
    background-color: white;
    width: 0rem;
    position: relative;
    left: 1rem;
}


.imgMichelYarde{
    position: relative;
    left: 2rem;
    top: 4rem;
    
}

.imgManudJuice{
    position: relative;
    left: 2rem;
    top: 4rem;
}

.textCard1CEO{
    width: 30rem;
    position: relative;
    left: 10rem;
    bottom: 2rem;
}

.textCard2CEO{
    width: 30rem;
    position: relative;
    left: 10rem;
    bottom: 2rem;
}

.fraudeGrise{
    width: 10%;
    height: 20%;
    background-color: rgba(236, 226, 226, 0.782);
}

.lineHappy1{
    border: 2px solid gray;
}

.lineHappy2{
    border: 2px solid  red;
}

.lineHappy3{
    border: 2px solid rgb(23, 18, 179);
    
}

.lineUl{
    position: relative;
    top: 15rem;
    text-align: center;
    
}

.lineUl li{
    text-align: center;
    display: inline;
    margin: 15px;
    
}

.threeLines{
    position: relative;
    display: flex;
    flex-direction: row;
   justify-content: center;
   top: 15rem;
}

.lineColor{
    background-color: rgba(171, 151, 151, 0.571);
}
.lineColor:hover{
    background-color: #cea06c;
}

.lineDivTest1{
    width: 2rem;
    height: 0.4rem;
    margin: 10px;
}

.lineDivTest2{
    width: 2rem;
    height: 0.4rem;
    margin: 10px;

}

.lineDivTest3{
    width: 2rem;
    height: 0.4rem;
    margin: 10px;

}

.spanHidden{
    visibility: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* 5 logos Bottom */

.logo5Bottom{
    width: 100%;
    position: relative;
    bottom: 9rem;
    filter: grayscale(100%);
    
}

.rowLogoBottom{
    justify-content: center;
    
}

.marginLogo{
    margin: 70px;
}

.couleurGrayLogo{
    background-image: 
    image(rgba(211, 191, 191, 0.462)), 
    url(../img/b1.png);
}

/* footer */

.fondNoirFooter{
    background-color: black;
    
    width: 100%;
}

.row1Footer{
    
    font-size: 1.5rem;
    position: relative;
    
}

.ulFooter{
    margin: 0 10px;
    padding-top: 20px;
}

.ulFooter li{
    margin: 10px;
    color: gray;
}

.newsletter{
    width: 30rem;
}

.blancMargin{
    color: white;
    font-weight: bold;
}

.marginBot{
    padding-bottom: 25px;
}

.buttonSendNewsletter{
    width: 2rem;
    background-color: white;
    position: relative;
    bottom: 5rem;
    left: 13.9rem;
}

.inputButton{
    width: 9rem;
    height: 5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.colorEmail{
    text-align: center;
    background-color: midnightblue;
    width: 13.5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.Subscribe{
    position: relative;
    top: 0.5rem;
}

.imageLogoBleu{
    width: 4rem;
    background-color: rgb(34, 83, 182);
    margin: 7px 7px 7px 7px; 
    
}

.tailleLogo{
    width: 4rem;
    filter: invert(100%); 
}

.testFlex{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 7rem;   
}

.colorWhiteCopyrigth{
    color: white;
    font-size: 1.3rem;
}

.colorlib{
    color: #cea06c;
}